/* shared items */

.dark-1{
    color: rgba(0, 0, 0, .6);
}

.text-color{
    color: #E95A08;
}

.font-family{
    font-family: "Noto Serif", serif;
}

.font-family-p{
    font-family: "inter";
}

/* header section  */

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

ul .bar-1 :last-child{
    color: black;
}
ul .bar-4 :last-child{
    color: black;
}

/* header end */

/* main part start */

/* fresh-flowers section start */

.fresh-flowers{
    display: flex;
    padding: 120px 150px;
}

.fresh-flowers-text h1{
    font-size: 65px;
}

.fresh-flowers-text p{
    max-width: 570px;
}

/* fresh-flowers section end */

/* our-plants section start */

.our-plants{
    padding: 120px 150px;
}

.our-plants-container{
    text-align: center;
}

.our-plants-container h1{
    font-size: 50px;
    margin-bottom: 1px;
}

.our-plants-container p{
    width: 52%;
    margin: auto;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    text-align: center;
    margin-top: 50px;
}

.card p{
    font-size: 18px;
    margin-top: 20px;
}

.card h3{
    margin-top: -15px;
}

.card button{
    color: white;
    background-color: #E95A08;
    padding: 10px 80px;
    border: none;
    font-size: 14px;
    font-weight: 350;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* our plants section end */

/* plants lover section start */

.plants-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 211.13px 150px;
}

.img-content{
    position: relative;
}

.img-content .flower-store{
    width: 540px;
    height: 597px;
}

.img-content .badge{
    position: absolute;
    width: 200px;
    height: 200px;
    top: -14%;
    left: 75%;
}

.text-content{
    width: 35%;
}

.text-content h1{
    font-size: 50px;
}

.text-content p{
    font-size: 22px;
}

/* plants lover section end */

/* latest deals section start */

.latest-deals-text{
    justify-content: center;
    text-align: center;
}

.latest-deals-text h1{
    font-size: 50px;
}

.latest-deals-text p{
    font-size: 22px;
    width: 54%;
    margin: auto;
}

.deals{
    display: flex;
    justify-content: center;
    padding: 121px 150px;
    gap: 28px;
}

.bloom, .ana{
    margin-bottom: 25px;
    position: relative;
}

.bloom h5, .ana h5 {
    font-size: 20px;
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: center;
    left: 65px;
    top: 40px;
}

.bloom p, .ana p{
    font-size: 16px;
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    top: 90px;
    left: 140px;
}

.zabo-plant{
    position: relative;
}

.zabo-plant h5{
    position: absolute;
    font-size: 40px;
    color: white;
    width: 100%;
    height: auto;
    justify-content: center;
    top: 100px;
    left: 150px;
}
.zabo-plant p{
    position: absolute;
    font-size: 28px ;
    color: white;
    width: 100%;
    height: auto;
    justify-content: center;
    top: 200px;
    left: 300px;
}











@media screen and (max-width: 576px){

    /* header start */
    header{
        padding: 67px 16px;
    }

    .bar-1, .bar-2, .bar-3{
        display: none;
    }

    .bar-4{
        margin-top: 40px;
    }
    /* header end */

    /* main part start */
    
    /* fresh-flowers section start */

    .fresh-flowers{
        flex-direction: column-reverse;
        padding: 0;
        gap: 100px;
    }

    .fresh-flowers-img{
        width: 393.18px;
        height: 245px;
        padding: 0;
        margin-top: 28px;
    }

    .fresh-flowers-text{
        padding: 28px 16px;
        top: 2px;
    }

    .fresh-flowers-text h1{
        font-size: 24px;
    }

    .fresh-flowers-text p{
        font-size: 14px;
    }

    /* fresh-flowers section end */

    /* our-plants section start */

    .gallery{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .our-plants{
        padding: 5px;
    }

    .our-plants-container{
        width: 100%;
        align-items: center;
        margin-left: 50px;
    }

    .our-plants-container h1{
        font-size: 24px;
    }

    .our-plants-container p{
        width: 100%;
        font-size: 14px;
    }

    .card.p{
        font-size: 16px;
    }
    

    /* our-plants section end */

    /* plants lover section start */


    .plants-lover{
        flex-direction: column;
        padding: 10px;
        margin-left: 10px;
    }

    .img-content .flower-store{
        width: 100%;
        height: 100%;
        align-items: center;
        margin-left: 65px;
        margin-top: 60px;
    }

    .badge{
        display: none;
    }

    .text-content{
        width: 100%;
        margin-left: 100px;
    }

/* plant lover section end */

/* latest deals section start */


.latest-deals-text h1{
    font-size: 24px;
    margin-left: 120px;
    margin-top: 133px;
}

.latest-deals-text p{
    width: 100%;
    font-size: 14px;
    margin-left:60px;
}

.deals{
    flex-direction: column;
    padding: 90px;
    justify-content: center;
}

.zabo-plant img{
    width: 361px;
    margin-top: -30px;
}

.zabo-plant h5{
    font-size: 20px;
    top: 50px;
    left: 50px;
}

.zabo-plant p{
    font-size: 16px;
    top: 100px;
    left: 120px;
}

}